# Ignore files and directories that should not be in version control.

# General
.env
*.log

# Python
rag_env/
__pycache__/
*.pyc
*.egg-info
.pytest_cache/

# Node.js
frontend/node_modules/
frontend/build/

# Data
data/
data11111/

# Storage
backend/storage/chroma_db/
backend/storage/processed/
backend/storage/raw/

# IDE specific
.vscode/
.idea/